.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
!.env.test
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/prisma/*.db
/prisma/*.db-journal
/coverage
/backup
/src/routes/debug
/src/routes/test
